.box-containerA {
    width: auto; 
    height: auto; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding-left: 150px; 
    padding-right: 150px; 
    padding-bottom: 150px; 
    text-align: left; 
}

.box-containerA h2 {
    color: #333; 
    display: block;  
    font-family: "work-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color:  rgba(58, 29, 0, .8);
    text-underline-offset: 30px;
}
  
.box-containerA p {
   line-height: 1.5;
    color: #333; 
    display: block; 
    font-family: "work-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}
.box-containerA li {
    line-height: 1.5;
    color: #333; 
    font-family: "work-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}