

.home-image{
   width: 100%;
    height: auto;
    z-index: -1;
}

.home-container {
    position: relative;
}  

.logo-image {
    position: absolute;
    height:12.5vw;
    width:12.5vw;
    padding-top: 115px;
    padding-left:60px;
    top: 0;
    left: 0;
    z-index: 1;
}

.box-container {
    width: auto; 
    height: auto; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding-top: 50px;
    padding-left: 100px; 
    padding-right: 100px; 
    padding-bottom: 50px;
    text-align: left; 
}

.box-container h2 {
    color: #333; 
    display: block;  
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
    text-align: left;
    text-decoration: underline;
    text-decoration-color:  rgba(58, 29, 0, .8);
    text-underline-offset: 30px;
}
  
.box-container p {
    line-height: 1.5;
    color: #333; 
    display: block; 
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}
  
@media only screen and (max-width: 600px) {
    .box-container {
      padding: 0 20px;
    }

    .box-container h2{
        text-decoration: unset;
    }
  }

  