header {
  background-color: rgba(58, 29, 0, .8);
  color: #fff;
  padding: 10px 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: fixed;
  width: 100%;
}

header a {
  font-size: 1vw;
  text-align: left; 
  padding-left: 25px;
  flex-grow: 1; 
}

button {
  background-color: rgba(21, 12, 4, 0);
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 30px;
  cursor: pointer;
  margin: 10px;
  font-size: 1.5vw;
  font-family: montserrat;
  text-align: right; 
}

button:hover {
  text-decoration: underline;
  text-decoration-color: #2c4f40;
  text-underline-offset: 10px;
}
footer{
  background-color: rgba(58, 29, 0, .8);
  text-align: center;
  justify-content: center;
  padding-bottom: 1.5vw;
}
footer img{
  padding-top: 1.5vw;
  width: 5%;
  height: 5%;
}
footer a{
  color: #fff;
  font-family: montserrat;
  font-size: 1vw;
}
