html{
  scroll-behavior: smooth;
}
header {
  background-color: rgba(58, 29, 0, .8);
  color: #fff;
  padding: 10px 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: fixed;
  width: 100%;
  z-index: 2;
}

header a {
  font-size: 1.25vw;
  text-align: left; 
  padding-left: 25px;
  flex-grow: 1; 
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
    
}

button {
  background-color: rgba(21, 12, 4, 0);
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 30px;
  cursor: pointer;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75vw;
  text-align: right; 
}

button:hover {
  text-decoration: underline;
  text-decoration-color: #2c4f40;
  text-underline-offset: 10px;
}
footer{
  background-color: rgba(58, 29, 0, .8);
  text-align:center;
  justify-content: center;
  padding-bottom: 1.5vw;
}
footer img{
  padding-top: 2vw;
  width: 7%;
  height: 7%;
}
footer a{
  color: #fff;
  font-family: montserrat;
  font-size: 1.75vw;
}

@media only screen and (max-width: 800px) {
  .button {
    padding: 5 20px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 8px 15px;
  }
  
  header a {
    font-size: 14px;
    padding-left: 10px;
  }
  
  button {
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: row; 
    justify-content: space-between;
    padding: 10px;
  }

  .logo-image {
    height: 18vw; /* Further adjust size */
    width: 18vw;
    top: 12%; /* Adjust relative position */
    left: 10%;
}
  
  header .nav-links {
    display: none; /* Hide links by default */
    flex-direction: column;
    background-color: rgba(58, 29, 0, 0.9); /* Match header color */
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    border-radius: 5px;
    z-index: 999;
  }
  
  header .nav-links a {
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  header .menu-toggle {
    display: block;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  header .nav-links.active {
    display: flex; /* Show menu when active */
  }
}
