/* Full-screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 29, 0, 1); /* Solid brown color */
  z-index: 9999;
  opacity: 1;
  transition: opacity 1.5s ease; /* Smooth fade-out transition */
}

/* Class for when the overlay should fade out */
.overlay.fade-out {
  opacity: 0;
  pointer-events: none; /* Allow interaction with the content below */
}
